body
{
    padding: 0;
    margin: 0;
}
.middle{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}
.btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
}